<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @movement.value %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @movement.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @movement.humidity %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
