<%= form_with(model: measurement, local: true) do |form| %>
  <% if measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :temperature %>
    <%= form.text_field :temperature, id: :measurement_temperature %>
  </div>

  <div class="field">
    <%= form.label :humidity %>
    <%= form.text_field :humidity, id: :measurement_humidity %>
  </div>

  <div class="field">
    <%= form.label :sensor %>
    <%= form.text_field :sensor, id: :measurement_sensor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
