<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @measurement.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @measurement.humidity %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @measurement.sensor %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
